<div class="container">
    <div class="sidenav">
      <%= cl_image_tag("logo_spqr_laurel_bg", :cloud_name => 'danielcastro', width: 100) %>
      <a href="#">search</a>
      <a href="#">dashboard</a>
      <a href="#">host your vvvenue</a>
  </div>
</div>


