<h1>Venues#index</h1>
<p>here come all searched vvvenues</p>

<div class="btn btn-secondary mb-5">
  <%= link_to 'Venue Card', venue_path(:id) %>
</div>

<div class="container">
  <div class="col">
    <div class="card" style="width:200px">
      <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
      <div>
      <a href="#" class="stretched-link"></a>
      <%= cl_image_tag("poolindoor_crujji", :cloud_name => 'danielcastro', :height=>200, :width=>200, :crop=>"fill") %>
        <h5 class="card-title">Card title here</h5>
        <a href="#" class="btn btn-primary">See VVVenue Description</a>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Go back', root_path, class: 'btn btn-primary'  %>
</div>
