
<%= render 'sidenav' %>

<div class="container pt-3">

  <div class="host-banner">
    <img src="https://via.placeholder.com/1100x300" alt="">
  </div>

  <h1 class="pt-3">List your Venue!</h1>
  <h5 class="pb-4">Make money hosting your venue for events</h5>
  <%= render 'form'%>
  <%# link_to 'Back', my_own_path, class: "btn btn-primary mt-3" %>
</div>

