<h1>Venues#show</h1>


<div class="wrapper">
  <div class="main">
    Main content
  </div>
  <div class="sidebar">
    Sticky sidebar
  </div>
</div>

<%= render "bookings/form", venue: @venue, booking: @booking %>
