<h1>Venues#show</h1>


<div class="wrapper">
  <div class="main">
    <p>ID:</p>
    <%= @venue.id %>
    <p>Title:</p>
    <%= @venue.title %>

  </div>
  <div class="sidebar">
    Sticky sidebar
  </div>
</div>



