// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #777; /* DArk gray */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #111;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #F1F1F1;
}

.main {
  margin-left: 180px;
  padding: Opx 10px;
}

.paragraph {
  font-weight: bold;
}

#background {
  background-image: url("https://res.cloudinary.com/danielcastro/image/upload/v1574883992/Christmas-Party-2019-header_tpz1yz.jpg")
}

h1 {
  color: #FF0;
  font-size: 94px;
}
